.features-container {
    padding: 0px 112px;
    margin-bottom: 48px;
    max-width: 1440px;
    margin: auto;
  }
  
  .features-header {
    text-align: center;
    margin-bottom: 48px;
  }
  
  .subtitle {
    color: #5e35b1;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .features-header h2 {
    font-size: 36px;
    font-weight: 800;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .description {
    font-size: 20px;
    font-weight: 400;
    max-width: 800px;
    line-height: 160%;
    margin: 0 auto;
    color: #666;
  }
  
  /* Features grid */
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  
  .feature-card {
    padding: 24px;
    text-align: center;
    width: 384px;
    background-color: white;
    box-shadow: none;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 16px;
    width: 80px;
    height: 80px;
    color: #5e35b1;
  }
  
  h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .feature-card p {
    font-size: 14px;
    color: #666;
  }

  @media (max-width: 768px) {
    .features-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0px;
    }
    .features-container {
      border: none;
      border-radius: 8px;
      padding: 64px 10px;
      margin-bottom: 48px;
  }
  .feature-card {
    border: 1px dashed #d1c4e9;
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    width:auto;
}
  }