.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: rgb(71, 85, 105);
font-size: 16px;
font-weight: 700;
line-height: 22px;
}

.menu i {
  margin-right: 5px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-signup, .btn-login {
  text-decoration: none;
  color: rgb(22, 21, 21);
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 30px;
  border: 2px solid #6366F1;
  background-color: #ffffff;
}

.btn-login {
  padding: 8px 20px;
}

.btn-signup:hover,
.btn-login:hover {
  background-color: #6366F1;
  color: white;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navbar{
    padding: 10px;
  }
  .logo{
    justify-content: start;
  }

  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu.open {
    display: flex;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
